[submodule "Atlas/extern/spdlog"]
	path = Atlas/extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Atlas/extern/glfw"]
	path = Atlas/extern/glfw
	url = https://github.com/glfw/glfw
[submodule "Atlas/extern/imgui"]
	path = Atlas/extern/imgui
	url = https://github.com/ocornut/imgui
